<div class="row justify-content-center mt-5 animated fadeInRight">
    <div class="card text-white bg-dark mb-3" style="max-width: 40rem;">
        <div class="card-header bg-navbar">
            <h3>
                <div class="float-left">
                    <mat-icon class="mr-2" aria-hidden="true">account_circle</mat-icon>
                </div>Registro de usuario
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg">

                    <form [formGroup]="registerFormGroup" class="form-group">
                        <mat-form-field appearance="legacy" class="ml-2">
                            <mat-label>Nombres y Apellidos</mat-label>
                            <input formControlName="name" matInput [errorStateMatcher]="matcher" required>
                            <mat-error *ngIf="registerFormGroup.controls['name'].errors">
                                Debe ser un nombre válido
                            </mat-error>
                            <mat-icon matSuffix>perm_identity</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="legacy" class="ml-2">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput placeholder="pat@example.com" [errorStateMatcher]="matcher" required>
                            <mat-error *ngIf="registerFormGroup.controls['email'].errors">
                                Debe ser un correo válido
                            </mat-error>
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                        <mat-form-field appearance="legacy" class="ml-2">
                            <mat-label>Contraseña</mat-label>
                            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" [errorStateMatcher]="matcher" required >
                            <mat-error *ngIf="registerFormGroup.controls['password'].errors">
                                Almenos 4 caracteres
                            </mat-error>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <div class="row">
                            <div class="col-5">
    
                                <button type="submit" (click)="signUp()" class="btn-sm btn-primary mt-4">
                                    <mat-icon class="float-left">how_to_reg</mat-icon>Registrar
                                </button>
    
                            </div>
                            <div class="col mt-4">
    
    
                                <a routerLink="/sesion" class="txt1">
                                    ¿Ya tienes cuenta? / Ingresar
                                </a>
    
                            </div>
                        </div>
                    </form>
                   


                </div>
                <div class="col-lg-6 col-xs-2">
                    <img class="img-fluid" src="./../../../assets/images/register.svg" alt="">
                </div>
            </div>

        </div>
    </div>
</div>